<div class="jumbotron">
  
<center>
  <font size="5">Welcome to NerdWallet! To begin to set up your financial profile, please answer the following questions: </font>
</center>
<br>
<br>
<div class="container" style="max-width: 30%">
<form>
  <div class="form-group">
    <label for="exampleInputZipCode">Your current zip code</label>
    <input type="zipcode" class="form-control" id="exampleInputzipcode" placeholder="Enter zip code">
  </div>
  <div class="form-group">
    <label for="exampleInputZipCode">Annual salary</label>
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  
  <label for="exampleInputstudent">Are you a student? </label>
    <label class="radio-inline" style="margin-left: 10px">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
    </label>
    <label class="radio-inline">
     <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Part-time
    </label>

<br>
<br>

     <label for="exampleInputloans">Do you have loans? </label>
    <label class="radio-inline" style="margin-left: 5px">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
    </label>
    <label class="radio-inline">
     <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
    </label>

 <div style="margin-left: 50px">
    <label for="exampleInputloans">If yes, select type:</label>
    <select class="form-control" style="display: inline; width: 50%">
    <option>Mortage</option>
    <option>Student</option>
    <option>Other</option>
    </select>
</div>
<br>

    <label for="exampleInputhousehold">How many members are in your household?</label>
    <select class="form-control" style="display: inline; width: 50%">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>More than 9</option>
    </select>

<br>

<nav>
  <ul class="pager">
    <li><%= link_to "Submit", "/financialprofile" %></li>
  </ul>
</nav>
</form>

</div>
</div>