<div class="jumbotron">
  
<center>
  <font size="5">Welcome to NerdWallet! To set up your financial profile, please answer the following questions: </font>
</center>
<br>
<br>
<div class="container" style="max-width: 30%">
<form>
  <div class="form-group">
    <label for="exampleInputZipCode">Your current zip code</label>
    <input type="zipcode" class="form-control" id="exampleInputzipcode" placeholder="Enter zip code">
  </div>
  <div class="form-group">
    <label for="exampleInputZipCode">Annual salary</label>
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  
  <label for="exampleInputZipCode">Are you a student? </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
    </label>
    <label class="radio-inline">
     <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Part-time
    </label>

<br>
<br>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>