<center>
	<h1>i have experience in working in unstructured environments</h1>
</center>


<nav>
  <ul class="pager">
  	<li><%= link_to "Passion", "/fit/passion" %></li>
  	<li><%= link_to "Impact", "/fit/impact" %></li>
  </ul>
</nav>