<div class="jumbotron">
<div class="container" style="max-width: 60%">
<center>
<font size="6">I'm thinking about... <i><u>having a baby</i></u>.</font>
<br>
<br>
<br>
<font size="4">In your current city of <font color="blue"><b>San Francisco</b></font>, it costs an average of <font color="blue"><b>$402,112</b></font> to raise a child.
<br>
<br>
Based on your annual income of <font color="blue"><b>$100,000</b></font>, you will need to make an additional <font color="blue"><b>$15,000</b></font> in annual income to maintain your current standard of living while raising a child.</font>
<br>
<br>
<br>
<br>
<br>
<font size ="3">
    <div class="form-group">
    <label for="exampleInputNewCity">Thinking about moving to a different city? Enter the  city and see your new projections for raising a child: </label>
    <input type="newcity" class="form-control" id="exampleInputnewcity" placeholder="Enter new city">
  </div>
<font size ="3">
<a href="#">Submit</a>

</font>
</center>
</div>
</div>