<div class="jumbotron">
  
<center>
  <font size="5">Welcome to your financial planner!</font>


<br>
<br>
<br>
<div class="container" style="max-width: 70%">

<label for="exampleInputhousehold">I'm thinking about... </label>
    <select class="form-control" style="display: inline; width: 50%">
    <option>Going to college</option>
    <option>Moving to a different city</option>
    <option>Having a baby</option>
    </select>


<nav>
  <ul class="pager">
    <li><%= link_to "Submit", "/financialplannerresult" %></li>
  </ul>
</nav>

</center>
</div>
</div>