<div class="jumbotron">

<center>
  <font size="5">Congratulations on setting up your NerdWallet account!</font> 
  <br>
  <br>
  <font size="4">Based on the information you submitted, here's an initial summary of your financial profile:</font>
</center>


</div>