<div class="jumbotron">
<div class="container" style="max-width: 60%">
<center>
<font size="6">I'm thinking about... <font color="6280a4"><i><u>having a baby</i></u>.</font></font>
<br>
<br>
<br>
<font size="4">In the city of <font color="89c042"><b>Baltimore</b></font>, it costs an average of <font color="89c042"><b>$264,661</b></font> to raise a child.
<br>
<br>
Based on your annual income of <font color="89c042"><b>$100,000</b></font>, you can make <font color="89c042"><b>$10,000</b></font> less in annual income and still maintain your current standard of living while raising a child.</font>
<br>
<br>
<br>
<br>
<br>
<font size ="3">
    <div class="form-group">
    <label for="exampleInputNewCity">Thinking about moving to a different city? Enter the  city and see your new projections for raising a child: </label>
    <input type="newcity" class="form-control" id="exampleInputnewcity" placeholder="Enter new city">
  </div>
<font size ="3">
<a href="#">Submit</a>

</font>
</center>
</div>
</div>