<div class="jumbotron">

<center>
  <font size="5">Congratulations on setting up your NerdWallet account!</font> 
  <br>
  <br>
  <font size="4">Based on the information you submitted, here's an initial summary of your financial profile:</font>
  <br>
  <br>
  <br>
  <font size="3">Your annual income <b>($100,000)</b> is <font color="blue"><b><u>$24,090</u></b></font> above your city's <b>(San Francisco)</b> median income of <font color="blue"><b><u>$75,910</b></u></font>.
  <br>
  <br>
  See more of your profile <a href="#">here</a>.




</center>


</div>