<center>
  	<h1>hi, i'm cynthia</h1>
  	<p> </p>
  	<p> </P>
  	<img src="https://scontent.fsjc1-1.fna.fbcdn.net/hphotos-xaf1/t31.0-8/286327_3942036309188_1958979068_o.jpg" alt="hi i'm cynthia" style="width:369px;height:491px">
  	<p> </p>
  	<p> </P>
  	<font size="4">I'm a learner, and I want to be impactful.</font>
  </center>

<nav>
  <ul class="pager">
    <li><%= link_to "Southeast Asia", "/about/southeastasia" %></li>
  </ul>
</nav>