<center>
	<h1>2012: bay area to beijing</h1>
	<img src="http://i.imgur.com/0GeT9RM.jpg" alt="sf to beijing" border="10">
</center>
<p></p>
<p></p>
<font size="5">
	<u>
		dipont education
	</u>
</font>
<p></p>

<p>College Applications</p>
<p>Workshops</p>
<p>Training Manual</p>

<font size="4">
	<u>
		lost laowai
	</u>
	<p></p>
	<img src="http://i.imgur.com/uwz0WBY.png" alt="lost laowai" style="width:474px;height:353px" border="1" />
</font>

<p></p>

<font size="5">
	travels
</font>

<nav>
  <ul class="pager">
  	<li><%= link_to "Overview", "/about/overview" %></li>
    <li><%= link_to "Trumaker", "/about/trumaker" %></li>
  </ul>
</nav>