<center>
	<h1>2012: bay area to beijing</h1>
	<img src="http://i.imgur.com/0GeT9RM.jpg" alt="sf to beijing" border="10">
</center>
<p></p>
<p></p>
<font size="5">
	dipont education
</font>

<p></p>
<p></p>

<font size="5">
	travels
</font>

<nav>
  <ul class="pager">
  	<li><a href="#">Overview</a></li>
    <li><a href="#">Trumaker</a></li>
  </ul>
</nav>