<center>
	<h1>2012: bay area to beijing</h1>
	<img src="http://i.imgur.com/0GeT9RM.jpg" alt="sf to beijing" style="border-width:1px;border-style:solid">

<p></p>
<p></p>

<font size="5">
	<b><u>
		dipont education
	</u></b>
</font>
<p></p>

<p>College Applications</p>
<p>Workshops</p>
<p>Training Manual</p>

<br>
<br>
<br>

<font size="4">
	<u><b>
		lost laowai
	</u></b>
	<p></p>
	<img src="http://i.imgur.com/uwz0WBY.png" alt="lost laowai" style="width:474px;height:353px;border-width:1px;border-style:solid" />
</font>

<br>
<br>
<br>
<br>

<font size="5">
	<b><u>
		travels
	</u></b>

<br>
<br>
<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/858506_4587208118080_876173410_o.jpg" alt="cambodia" style="width:328px;height:218px" border="1" />
<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/1277600_10200795456468586_1977539164_o.jpg" alt="cambodia" style="width:328px;height:218px" border="1" />
<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/859705_4587373642218_1950327051_o.jpg" alt="cambodia" style="width:328px;height:218px" border="1" />


</font>

</center>

<nav>
  <ul class="pager">
  	<li><%= link_to "Overview", "/about/overview" %></li>
    <li><%= link_to "Trumaker", "/about/trumaker" %></li>
  </ul>
</nav>